* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #333;
}

.content {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.content.left {
  left: 0;
  background-image: url("https://github.com/kongruksiamza/javascript-workshop/blob/main/Workshop%2023%20-%20SplitPageContent/image/Content1.jpg?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
}
.content.right {
  right: 0;
  background-image: url("https://github.com/kongruksiamza/javascript-workshop/blob/main/Workshop%2023%20-%20SplitPageContent/image/Content2.jpg?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
}

.content::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
}

h1 {
  font-size: 4rem;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  white-space: nowrap;
  transform: translateX(-50%);
}

.btn {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translateX(-50%);
  color: #fff;
  text-decoration: none;
  padding: 1.5rem;
  border: #fff solid 0.2rem;
  font-size: 1.2rem;
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.content.left .btn:hover {
  background-color: orangered;
}
.content.right .btn:hover {
  background-color: blue;
}

.hover-left .left {
  width: 70%;
}
.hover-left .right {
  width: 30%;
}

.hover-right .left {
  width: 30%;
}
.hover-right .right {
  width: 70%;
}

.content.left,
.content.right {
  transition: all 0.5s ease-in-out;
}
