@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

* {
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 80px;
}

img {
  width: 100%;
}

.text {
  opacity: 0;
  transform: translateY(15px);
  transition: all 0.5s ease;
}

.show-reveal {
  opacity: 1;
  transform: translateY(0px);
}
